<form class="form-horizontal formtop">
  <div class="manlab manlab-font">
    <label>nickname：</label>
    <input type="text" value="catcat">
  </div>
  <div class="manlab manlab-font">
    <label>realname：</label>
    <input type="text" value="MR.right">
  </div>
  <div class="manlab manlab-font">
    <label>telephone：</label>
    <input type="text" value="18856222199">
  </div>
  <div class="manlab manlab-font">
    <label>sex：</label>
    <span class="sex-right">
             <input type="radio" name="sex" checked>
             <label class="lab-sex">woman</label>
             <input type="radio" name="sex" id="sex-right">
             <label class="lab-sex">man</label>
            </span>

  </div>
  <div class="manlab manlab-font">
    <label>profession：</label>
    <input type="text" value="designer">
  </div>
  <div class="manlab manlab-font">
    <label>educational：</label>
    <input type="text" value="undergraduate">
  </div>
  <div class="manlab manlab-font">
    <label>Residence：</label>
    <input type="text" value="chaoyang district">
  </div>
  <div class="manlab manlab-font">
    <label>e-mail：</label>
    <input type="text" value="18856222199@163.com">
  </div>
  <button type="submit" class="btn manbtn">save</button>
</form>
