<form class="form-horizontal formtop">
  <div class="manlab manlab-font">
    <label>Username：</label>
    <input type="text" value="catcat">
  </div>
  <div class="manlab manlab-font">
    <label>Realname：</label>
    <input type="text" value="MR.right">
  </div>
  <div class="manlab manlab-font">
    <label>Telephone：</label>
    <input type="text" value="18856222199">
  </div>
  <div class="manlab manlab-font">
    <label>Sex：</label>
    <span class="sex-right">
             <input type="radio" name="sex" checked>
             <label class="lab-sex">woman</label>
             <input type="radio" name="sex" id="sex-right">
             <label class="lab-sex">man</label>
            </span>
  </div>
  <div class="manlab manlab-font">
    <label>E-mail：</label>
    <input type="text" value="18856222199@163.com">
  </div>
  <div class="manlab manlab-font">
    <label>password：</label>
    <input type="text" value="1345646515">
  </div>
  <div class="manlab manlab-font">
    <label>password：</label>
    <input type="text" value="1345646515">
  </div>
  <button type="submit" class="btn manbtn">save</button>
</form>
