<div class="domain">
  <div class="m-doma">
    <input type="text" value="System Name" id="sysnam">
    <input type="text" value="Domain Name " id="domnam">
    <span class="domimg">
         <img src="../../assets/images/clicadd.png" alt="">
     </span>
  </div>

  <table  class="mantable table">
    <tr class="table-bj">
      <td>
        System Name
      </td>
      <td>
        Domain Name
      </td>
      <td>
        Operation
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
  </table>
  <!-- page start -->
  <pagination-customize [totalItems]="totalItems" [currentPage]="currentPage"></pagination-customize>
  <!--page end  -->
</div>
