<div class="domain">
  <div class="m-doma">
    <input type="text" value="System Name" id="sysnam">
    <input type="text" value="Domain Name " id="domnam">
    <span class="domimg">
         <img src="../../assets/images/clicadd.png" alt="">
     </span>
  </div>

  <table  class="mantable table">
    <tr class="table-bj">
      <td>
        System Name
      </td>
      <td>
        Domain Name
      </td>
      <td>
        Operation
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        windows10
      </td>
      <td>
        www.dogdog.com
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
  </table>
  <!-- page start -->
  <div class="manmargin">
    <nav>
      <ul class="pagination pagination-sm">
        <li>
          <a href="javascript:;">
            total:<span id="totals">1200</span>
          </a>
        </li>
        <li><a href="javascript:;">
          page <span id="pagenum">1</span>/<span id="pageall">12</span>
        </a>
        </li>
        <li><a href="javascript:;">First</a></li>
        <li><a href="javascript:;">&laquo;</a></li>

        <li><a href="javascript:;">1</a></li>

        <li><a href="javascript:;">&raquo;</a></li>
        <li><a href="javascript:;">Last</a></li>
      </ul>
    </nav>

  </div>
  <!--page end  -->
</div>
