	<div class="log-div">
		<div class="log-top"></div>
		<form class="log-form" [formGroup]="userLoginFormGroup">
			<div class="log-input">
				 <div class="log-text">
				 	<img src="../../assets/images/person.png" alt="">
				 	<input type="text" name="username" formControlName="username" placeholder="Please input username">
				 </div>
			</div>
      <div *ngIf="formErrors.username" class="alert alert-danger">
        {{ formErrors.username }}
      </div>
			<div class="log-input">
				 <div class="log-text">
				 	<img src="../../assets/images/passord.png" alt="">
				 	<input type="password" formControlName="password" name="password" placeholder="Please input password">
				 </div>
			</div>
      <div *ngIf="formErrors.password" class="alert alert-danger">
        {{ formErrors.password }}
      </div>
      <alert *ngIf="error" type="warning">
        <strong>Warning! </strong>{{error}}
      </alert>
			<button class="log-btn" (click)="login()">Login</button>
		</form>
	</div>
