<!-- left start  -->
<!--<div class="dropdown" dropdown>
  <div class="icon-list icon-large" id="single-button" dropdownToggle></div>
  <div class="namleft" dropdownMenu role="menu" aria-labelledby="single-button" style="clear:both;float:none;">
    <ul class="namul" role="menuitem">
      <li class="active" role="menuitem">
        <a routerLink="/user" routerLinkActive="active">
          <img src="../../assets/images/user.png" alt="">
          <p>
            User
          </p>
        </a>
      </li>
      &lt;!&ndash;  <li role="menuitem">
          <a href="javascript:;">
            <img src="../assets/images/task.png" alt="">
            <p>
              Task management
            </p>
          </a>
        </li>
        <li role="menuitem">
          <a href="javascript:;">
            <img src="../assets/images/system.png" alt="">
            <p>
              System management
            </p>
          </a>
        </li>
        <li role="menuitem">
          <a href="javascript:;">
            <img src="../assets/images/stat.png" alt="">
            <p>
              Statistical analysis
            </p>
          </a>
        </li>
        <li role="menuitem">
          <a href="javascript:;">
            <img src="../assets/images/back.png" alt="">
            <p>
              The background registration
            </p>
          </a>
        </li>&ndash;&gt;
      <li role="menuitem">
        <a routerLink="/domain" routerLinkActive="active">
          <img src="../../assets/images/doma.png" alt="">
          <p>
            Domain
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>-->


<div class="namleft leftaway">
  <ul class="namul">
    <li [routerLinkActive]="['activenav']">
      <a routerLink="/user" routerLinkActive="active">
        <img src="../../assets/images/user.png" alt="">
        <p>
          User
        </p>
      </a>
    </li>
    <!-- <li>
       <a href="javascript:;">
         <img src="../assets/images/task.png" alt="">
         <p>
           Task management
         </p>
       </a>
     </li>
     <li>
       <a href="javascript:;">
         <img src="../assets/images/system.png" alt="">
         <p>
           System management
         </p>
       </a>
     </li>
     <li>
       <a href="javascript:;">
         <img src="../assets/images/stat.png" alt="">
         <p>
           Statistical analysis
         </p>
       </a>
     </li>
     <li>
       <a href="javascript:;">
         <img src="../assets/images/back.png" alt="">
         <p>
           The background registration
         </p>
       </a>
     </li>-->
    <li [routerLinkActive]="['activenav']">
      <a routerLink="/domain" routerLinkActive="active">
        <img src="../../assets/images/doma.png" alt="">
        <p>
          Domain
        </p>
      </a>
    </li>
  </ul>
</div>

<!-- left end -->
