<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge,chrome=1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>management</title>
</head>
<body>
<div class="manage">
  <!-- head start -->

  <div class="manhead">
    <div class="mancen">
      <p class="manp">
        Cloud Configuration Management
      </p>
      <div class="xopear">
        <p id="xopinp">Logout</p>
      </div>
    </div>
  </div>
  <!-- head end -->
  <div class="percen">
    <!-- left start  -->
    <div dropdown>
      <div class="icon-list icon-large dropdown-toggle" id="dropdownMenu1" dropdownToggle></div>
      <div class="namleft dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="clear:both;float:none;">
        <div class="namtop">
          <p class="namone">Welcome</p>
          <p class="namtwo">Satoshi</p>
        </div>

        <ul class="namul">
          <li class="active">
            <a href="javascript:;">
              <img src="../assets/images/user.png" alt="">
              <p>
                User
              </p>
            </a>
          </li>
        <!--  <li>
            <a href="javascript:;">
              <img src="../assets/images/task.png" alt="">
              <p>
                Task management
              </p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="../assets/images/system.png" alt="">
              <p>
                System management
              </p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="../assets/images/stat.png" alt="">
              <p>
                Statistical analysis
              </p>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="../assets/images/back.png" alt="">
              <p>
                The background registration
              </p>
            </a>
          </li>-->
          <li>
            <a href="javascript:;">
              <img src="../assets/images/doma.png" alt="">
              <p>
                Domain
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="namleft leftaway">
      <div class="namtop">
        <p class="namone">Welcome</p>
        <p class="namtwo">Satoshi</p>
      </div>

      <ul class="namul">
        <li class="active">
          <a href="javascript:;">
            <img src="../assets/images/user.png" alt="">
            <p>
              User
            </p>
          </a>
        </li>
       <!-- <li>
          <a href="javascript:;">
            <img src="../assets/images/task.png" alt="">
            <p>
              Task management
            </p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="../assets/images/system.png" alt="">
            <p>
              System management
            </p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="../assets/images/stat.png" alt="">
            <p>
              Statistical analysis
            </p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="../assets/images/back.png" alt="">
            <p>
              The background registration
            </p>
          </a>
        </li>-->
        <li>
          <a href="javascript:;">
            <img src="../assets/images/doma.png" alt="">
            <p>
              Domain
            </p>
          </a>
        </li>
      </ul>
    </div>

    <!-- left end -->

    <!-- right start -->

    <div class="manright">



    </div>

    <!-- right end -->
  </div>

</div>
</body>
</html>
