<!-- page start-->
<div class="manmargin">
  <pagination [boundaryLinks]="true" [(ngModel)]="page.currentPage" class="m-pagination pagination-sm" id="m-pagination" [totalItems]="page.totalCount"
              previousText="&laquo;" nextText="&raquo;" firstText="First" lastText="Last" [maxSize]="maxSize" [itemsPerPage]="page.pageSize" (numPages)="page.pageCount= $event" (pageChanged)="pageChanged($event)"></pagination>
  <pre class="card card-block card-header">Page: {{page.currentPage}} / {{page.pageCount}} Total: {{page.totalCount}}</pre>
</div>
<!--page end  -->
