  <!-- detail table start -->

 <table  class="mantable table">
         <tr class="table-bj" >
            <td>
               System Name 
            </td>
            <td>
               Domain Name
            </td>                       
         </tr>
         <tr>
            <td>
                windows10
            </td>
            <td>
                www.dogdog.com
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               System Name 
            </td>
            <td>
               Domain Name
            </td>                       
         </tr>
         <tr>
            <td>
                windows10
            </td>
            <td>
                www.dogdog.com
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               System Name 
            </td>
            <td>
               Domain Name
            </td>                       
         </tr>
          <tr>
            <td>
                windows10
            </td>
            <td>
                www.dogdog.com
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               System Name 
            </td>
            <td>
               Domain Name
            </td>                       
         </tr>
         <tr>
            <td>
                windows10
            </td>
            <td>
                www.dogdog.com
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               System Name 
            </td>
            <td>
               Domain Name
            </td>                       
         </tr>
          <tr>
            <td>
                windows10
            </td>
            <td>
                www.dogdog.com
            </td>
         </tr>
           
    </table>
<!-- detail table end -->
