  <!-- detail table start -->

 <table  class="mantable table">
         <tr class="table-bj" >
            <td>
               Username
            </td>
            <td>
               {{user.username}}
            </td>
         </tr>
         <tr>
            <td>
                Authtype
            </td>
            <td>
              {{userType(user.authtype)}}
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               Realname
            </td>
            <td>
               {{user.realname}}
            </td>
         </tr>
         <tr>
            <td>
                Gender
            </td>
            <td>
              {{userGender(user.sex)}}
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               Email
            </td>
            <td>
               {{user.email}}
            </td>
         </tr>
          <tr>
            <td>
                Phone
            </td>
            <td>
                {{user.mobilephone}}
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               Is Valid
            </td>
            <td>
               {{userValid(user.isvalid)}}
            </td>
         </tr>
         <tr>
            <td>
                Last Login Time
            </td>
            <td>
                {{user.lastlogintime | date:'y-MM-dd HH:mm:ss'}}
            </td>
         </tr>
           <tr class="table-bj">
            <td>
               Create at
            </td>
            <td>
               {{user.createdAt | date:'y-MM-dd HH:mm:ss'}}
            </td>
         </tr>
          <tr>
            <td>
                Update at
            </td>
            <td>
                {{user.updatedAt | date:'y-MM-dd HH:mm:ss'}}
            </td>
         </tr>

    </table>
<!-- detail table end -->
