<div class="domain">
    <div class="m-doma">

        <div class="m-earh">
            <input type="text" id="mearh" required [(ngModel)]="domain.searchName" name="sysname" placeholder="Please enter the sysname" (keyup)="search('')" >
            <span class="earhimg">
              <a (click)="search('')">
              <img src="../../../assets/images/m-earh.png" alt=""></a>
     </span>

        </div>
        <span class="domimg" (click)="showModal()">
         <img src="../../../assets/images/clicadd.png" alt="">
     </span>


        <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="form-horizontal" [formGroup]="domainAddFormGroup">
                            <div class="form-group">

                                <label class="col-sm-3 text-left control-label">System Name:</label>
                                <div class=" col-sm-12">
                                    <input type="text"  class="form-control" id="sysnam" name="sysName" formControlName="sysName">
                                </div>

                            </div>
                          <div *ngIf="formErrors.sysName" class="alert alert-danger">
                            {{ formErrors.sysName }}
                          </div>
                            <div class="form-group">

                                <label class="col-sm-3 text-left control-label">Domain Name:</label>
                                <div class=" col-sm-12">
                                    <input type="text" class="form-control"  id="domnam" name="domain" formControlName="domain">
                                </div>

                            </div>
                          <div *ngIf="formErrors.domain" class="alert alert-danger">
                            {{ formErrors.domain }}
                          </div>
                          <div class="form-group">

                            <label class="col-sm-3 text-left control-label">Service Name:</label>
                            <div class=" col-sm-12">
                              <input type="text" class="form-control"  id="servicenam" name="service" formControlName="service">
                            </div>
                          </div>
                          <div *ngIf="formErrors.service" class="alert alert-danger">
                            {{ formErrors.service }}
                          </div>
                          <div class="form-group">

                            <label class="col-sm-3 text-left control-label">Sign Url:</label>
                            <div class=" col-sm-12">
                              <input type="text" class="form-control"  id="signurl" name="signUrl" formControlName="signUrl">
                            </div>

                          </div>
                          <div *ngIf="formErrors.signUrl" class="alert alert-danger">
                            {{ formErrors.signUrl }}
                          </div>
                          <div class="form-group">

                            <label class="col-sm-3 text-left control-label">Logout Url:</label>
                            <div class=" col-sm-12">
                              <input type="text" class="form-control"  id="logouturl" name="logoutUrl" formControlName="logoutUrl">
                            </div>
                          </div>
                          <div *ngIf="formErrors.logoutUrl" class="alert alert-danger">
                            {{ formErrors.logoutUrl }}
                          </div>
                            <div class="divider"></div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-5">
                                    <button type="submit" class="btn btn-default xopsub" [disabled]="!domainAddFormGroup.valid"  (click)="submit()">Submit</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" bsModal #staticModalE="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">EDIT</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="staticModalE.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" class="form-horizontal" [formGroup]="domainEditFormGroup">
                <div class="form-group">
                  <div class=" col-sm-12">
                    <input type="hidden"  [(ngModel)]="did" class="form-control"  formControlName="id">
                  </div>
                  <label class="col-sm-3 text-left control-label">System Name:</label>
                  <div class=" col-sm-12">
                    <input type="text" [(ngModel)]="domain.sysName" class="form-control" id="sysnam2" name="sysName" formControlName="sysName">
                  </div>
                </div>

                <div *ngIf="formErrors.sysName" class="alert alert-danger">
                  {{ formErrors.sysName }}
                </div>
                <div class="form-group">

                  <label class="col-sm-3 text-left control-label">Domain Name:</label>
                  <div class=" col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="domain.domain" id="domnam2" name="domain" formControlName="domain">
                  </div>
                </div>
                <div *ngIf="formErrors.domain" class="alert alert-danger">
                  {{ formErrors.domain }}
                </div>
                <div class="form-group">

                  <label class="col-sm-3 text-left control-label">Service Name:</label>
                  <div class=" col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="domain.service" id="servicenam2" name="service" formControlName="service">
                  </div>
                </div>
                <div *ngIf="formErrors.service" class="alert alert-danger">
                  {{ formErrors.service}}
                </div>
                <div class="form-group">

                  <label class="col-sm-3 text-left control-label">Sign Url:</label>
                  <div class=" col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="domain.signUrl" id="signurl2" name="signUrl" formControlName="signUrl">
                  </div>
                </div>
                <div *ngIf="formErrors.signUrl" class="alert alert-danger">
                  {{ formErrors.signUrl }}
                </div>
                <div class="form-group">

                  <label class="col-sm-3 text-left control-label">Logout Url:</label>
                  <div class=" col-sm-12">
                    <input type="text" class="form-control" [(ngModel)]="domain.logoutUrl" id="logouturl2" name="logoutUrl" formControlName="logoutUrl">
                  </div>
                </div>
                <div *ngIf="formErrors.logoutUrl" class="alert alert-danger">
                  {{ formErrors.logoutUrl }}
                </div>
                <div class="divider"></div>
                <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-5">
                    <button type="submit" class="btn btn-default xopsub" [disabled]="!domainEditFormGroup.valid" (click)="submit2()">Submit</button>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>


    </div>
  <div class="man-overflow">
    <table class="mantable table">
        <tr class="table-bj">
            <td>
                System Name
            </td>
            <td>
                Domain Name
            </td>
          <td>
            Service
          </td>
          <td>
            Sign Url
          </td>
          <td>
            Logout Url
          </td>

            <td>
                Operation
            </td>
        </tr>
        <tr *ngFor="let item of domainList;let odd = odd" [ngClass]="{'tr-bj':odd}">
            <td>
                {{item.sysName}}
            </td>
            <td>
                {{item.domain}}
            </td>
            <td>
                {{item.service}}
            </td>
            <td>
            {{item.signUrl}}
            </td>
            <td>
            {{item.logoutUrl}}
            </td>
            <td>
              <a (click)="edit(item.id)" ><i class="icon-edit"></i></a>
              <a class="user-list-dele" (click)="del(item.id)"><i class="icon-trash"></i></a>
            </td>
        </tr>
    </table>
    </div>
    <!-- page start -->
        <pagination-customize [page]="page" (search)="search($event)"></pagination-customize>
    <!--page end  -->
</div>
