<div class="user">
  <div class="m-earh">
    <input type="text" value="please enter the account you want search" id="mearh">
    <span class="earhimg">
         <img src="../../assets/images/m-earh.png" alt="">
     </span>
  </div>

  <table  class="mantable table">
    <tr class="table-bj">
      <td>
        Name
      </td>
      <td>
        Account
      </td>
      <td>
        Time
      </td>
      <td>
        Operation
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr>
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
    <tr class="tr-bj">
      <td>
        catcat
      </td>
      <td>
        152163451
      </td>
      <td>
        2016.12.22 17:26
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
  </table>
  <!-- page start-->
  <div class="manmargin">
    <nav>
      <ul class="pagination pagination-sm">
        <li>
          <a href="javascript:;">
            total:<span id="totals">1200</span>
          </a>
        </li>
        <li><a href="javascript:;">
          page <span id="pagenum">1</span>/<span id="pageall">12</span>
        </a>
        </li>
        <li><a href="javascript:;">First</a></li>
        <li><a href="javascript:;">&laquo;</a></li>

        <li><a href="javascript:;">1</a></li>

        <li><a href="javascript:;">&raquo;</a></li>
        <li><a href="javascript:;">Last</a></li>
      </ul>
    </nav>

  </div>
  <!--page end  -->
</div>
