<div class="user">
  <div class="m-earh">
    <input type="text" id="mearh"
           required
           [(ngModel)]="username" name="username" placeholder="Please enter the username">
    <span class="earhimg">
         <img src="../../assets/images/m-earh.png" alt="">
     </span>
  </div>

  <table  class="mantable table">
    <tr class="table-bj">
      <td>
       Username
      </td>
      <td>
        Authtype
      </td>
      <td>
        Last Login Time
      </td>
      <td>
        Operation
      </td>
    </tr>
    <tr *ngFor="let item of userList;let odd = odd" [ngClass]="{'tr-bj':odd}">
      <td>
        {{item.username}}
      </td>
      <td>
        {{userType(item.authtype)}}
      </td>
      <td>
        {{item.lastlogintime}}
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
  </table>
  <!-- page start-->
  <pagination-customize [totalItems]="totalItems" [currentPage]="currentPage"></pagination-customize>
  <!--page end  -->
</div>
