<div class="user">
  <div class="m-doma">

    <div class="m-earh">
      <input type="text" id="mearh"
             [(ngModel)]="user.username" name="username" placeholder="Please enter the username" (keyup)="search('')">
    <span class="earhimg">
         <a (click)="search('')"><img src="../../../assets/images/m-earh.png" alt=""></a>
     </span>

    </div>

    <span class="domimg">
         <a routerLink="/user/add" routerLinkActive="active"><img src="../../../assets/images/clicadd.png" alt=""></a>
     </span>

  </div>


  <table  class="mantable table">
    <tr class="table-bj">
      <td>
       Username
      </td>
      <td>
        Authtype
      </td>
      <td>
        Last Login Time
      </td>
      <td>
        Operation
      </td>
    </tr>
    <tr *ngFor="let item of userList;let odd = odd" [ngClass]="{'tr-bj':odd}">
      <td>
        {{item.username}}
      </td>
      <td>
        {{userType(item.authtype)}}
      </td>
      <td>
        {{item.lastlogintime | date:'y-MM-dd HH:mm:ss'}}
      </td>
      <td>
        <i class="icon-trash"></i>
      </td>
    </tr>
  </table>
  <!-- page start-->
  <pagination-customize [page]="page" (search)="search($event)"></pagination-customize>
  <!--page end  -->
</div>
